<template>
  <h1>Get data from service</h1>
  <button @click="check_prs">Get data from proxy</button>
  <br>
  <br>
  <input v-model="service">
  <button @click="get_data">Get data from service</button>
  <span v-html="rawHtml"></span>

  <br>
  <br>
  <button @click="ppp">Get data from brat</button>
  <span v-html="rawHtmlBrat"></span>


</template>

<script>
import axios from 'axios';
import { ref } from 'vue';

export default {
  setup() {
    const service = ref('');
    let rawHtml = ref('');
    let rawHtmlBrat = ref('');


    const get_data = async () => {
      try {
        const service_response = await axios.get('/proxy/get-service/' + service.value);
        console.log(service_response);
        rawHtml.value = `<p color="green"> ${service_response.data} </p>`
      } catch (e) {
        console.error(e);
        rawHtml.value = `<p color="red"> ${e.data} </p>`
      }
    }

    const check_prs = async () => {
      try {
        const service_response = await axios.get('/proxy' + service.value);
        console.log(service_response);
        rawHtml.value = `<p color="green"> ${service_response.data} </p>`
      } catch (e) {
        console.error(e);
        rawHtml.value = `<p color="red"> ${e.message} </p>`
      }
    }

    const ppp = async () => {
      try {
        const service_response = await axios.get('/proxy/proxy-service/a/b');
        console.log(service_response);
        rawHtmlBrat.value = `<p color="green"> ${service_response.data} </p>`
      } catch (e) {
        console.error(e);
        rawHtmlBrat.value = `<p color="red"> ${e.message} </p>`
      }
    }

    return {
      service,
      rawHtml,
      rawHtmlBrat,
      get_data,
      check_prs,
      ppp
    }
  }
}
</script>
